<% if @individual.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@individual.errors.count, "error") %> prohibited
        this customer from being saved:</h2>
      <ul>
        <% @individual.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<div class="field">
  <%= label_tag "Title" %><br />
  <%= text_field_tag :current_personal_title, @individual.current_personal_title %>
</div>
<div class="field">
  <%= label_tag "First Name" %><br />
  <%= text_field_tag :current_first_name, @individual.current_first_name || 'Enter First Name' %>
</div>

<div class="field">
  <%= label_tag "Middle Name" %><br />
  <%= text_field_tag :current_middle_name, @individual.current_middle_name %>
</div>
<div class="field">
  <%= label_tag 'Last Name' %><br />
  <%= text_field_tag :current_last_name, @individual.current_last_name || 'Enter last name' %>
</div>
<div class="field">
  <%= label_tag "Suffix" %><br />
  <%= text_field_tag :current_suffix, @individual.current_suffix %>
</div>
<div class="field">
  <%= label_tag "Nickname" %><br />
  <%= text_field_tag :current_nickname, @individual.current_nickname %>
</div>
<div class="field">
  <%= label_tag "Postport Number" %><br />
  <%= text_field_tag :current_passport_number, @individual.current_passport_number %>
</div>
<div class="field">
  <%= label_tag "DOB" %><br />
  <%#= date_select_tag :birth_date, @individual.birth_date %>
  <%= text_field_tag :birth_date, @individual.birth_date %>
  <input type=button value="select" onclick="displayDatePicker('birth_date', false, 'ymd', '-');">
</div>
<div class="field">
  <%= label_tag "Gender" %><br />
  <%=  select_tag(:gender, options_for_select([['Male', 'M'], ['Female', 'F']], :selected => @individual.gender )) %>
</div>
<div class="field">
  <%= label_tag "Total Yrs. Work Experience" %><br />
  <%= text_field_tag :total_years_work_experience, @individual.total_years_work_experience %>
</div>
<div class="field">
  <%= label_tag "Marital Status" %><br />
  <%= text_field_tag :marital_status, @individual.marital_status %>
</div>
<div class="field">
  <%= label_tag "Social Security Number" %><br />
  <%= text_field_tag :social_security_number, @individual.social_security_number %>
</div>
<div class="field">
  <%= label_tag 'Comments' %><br />
  <%= text_area_tag :comments, @individual.comments %>
</div>


