<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Truenorth</title>
=======
  <title>IgSol</title>
>>>>>>> 0dbaabf22e79391f5b198e651d14e0b39b4c737e
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

<%= yield %>

=======
<div id="main">
<div id="header">
<%= render 'header' %>
</div>
<div id="site_content">
<div id="content">
<%= yield %>
</div>
</div>

<%= render 'footer' %>
</div>
>>>>>>> 0dbaabf22e79391f5b198e651d14e0b39b4c737e
</body>
</html>
